

.boxlogin{
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    color: black;
    background-color: #beb1b8;
    padding: 15px;
    width: 13,5%;
}
.boxloginVol{
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    color: black;
    background-color: #beb1b8;
    padding: 15px;
    width: 13,5%;
}

.tela-login{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%);
    padding: 65px;
    border-radius: 15px;
    color: white;
    
    }
 
    .login{

        padding: 15px;
        border: none;
        outline: none;
        font-size: 15px;
        
        }
        .inputSubmit{
            background-color: #beb1b8;
            background-origin: none;
            padding: 15px;
            width: 100%;
            border-radius: 10px;
            color: #000000;
            font: 15px;
        
        }
        .inputSubmit:hover{
            background-color:  white;
            cursor: pointer;
            
        }
        
.boxformularioAdm{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    border: 3px solid  rgb(172, 16, 130);
    width: 47%; 
    height: 120%;
    margin-left: 1%; 
    background-color: #beb1b8;
}
        
.boxformularioVol{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    border: 3px solid  rgb(172, 16, 130);
    width: 47%; 
    height: 120%;
    margin-left: 50%;
    margin-top: -22.6%; 
    background-color: #beb1b8;
}

.form-label{
    font-weight: bold;
}
.navbar navbar-expand-lg bg-body-tertiary{
    
}
.modal-header{
    background-color: #000000;

}
.modal-title{
    color: white;
    margin-left: 25%;
    font-size: 30px;
}
.modal-footer{
    background-color: #ccc;
	width: 100%;
	height: 25vh;
    font-size: 20px;
      
}
.formaPagamento{
    padding-right: 15%;
}
.tipodePagamento{
    
    margin-left: -15%;
}
.valorTotal{
}
        
#lirio{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -3%;
    height: top;
    line-height: 80px;
    text-align: center;
    color: #000000;
    font-size: 80px;
}
#lirio{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -3%;
    height: top;
    line-height: 80px;
    text-align: center;
    color: #000000;
    font-size: 80px;
}
#botaoadm{
    font-size: 30px;
    text-decoration: none;
}
#botaovol{
    font-size: 30px;
    text-decoration: none;
}
#lirioLogin{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13%;
    height: top;
    line-height: 80px;
    text-align: center;
    color: #000000;
    font-size: 80px;
}
#logo{
    margin-top: -5%;
    width: 20%;
    height: 20%;
}
#voltarLogin{
    margin-top: -22%;
    margin-left: -20%;
    width: 5vw;
    height: 5vh;
    fill: #beb1b8;
  }
  #submitAdm{
    margin-top: 21%;

  }
  #update{
    margin-top: 22%;
    font-size: 18px;

  }
  #cancelar{
    margin-top: -47%;
    margin-left: 70%;
    background-color: #000000;
    font-size: 18px;

  }
  #cabecalho{
    width: 100%;
  }
  #sair{
    margin-left: -18%;
  }
  #logoLiriocabecalho{
    width: 8%;
    height: 8%;
  }
  #BemVindo
{
    text-align: center;
    margin-top: -3%;
    color: rgb(172, 16, 130);

}

#BemVindoVendas
{
    text-align: center;
    margin-top: 1%;
    color: rgb(172, 16, 130);

}
#incluirCadastro{
    margin-left: 15px;
    background-image: linear-gradient(to right, rgb(172, 16, 130), rgb(90,20,220));
    width: 10%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    
    
}
#cons_Adm{
    margin-left: 15px;
    background-image: linear-gradient(to right, rgb(172, 16, 130), rgb(90,20,220));
    width: 10%;
    border: none;
    padding-top: 3%;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    
    
}
#tabelaLista{
margin-top: 1.5%;    
}
#cancelarLink{
    margin-top: 10%;
}

@media (max-width: 1400px) {

    .boxformularioVol{
        margin-top: -25.2%;

    }   
}